body{
    margin: 0;
    padding: 0;
    background: url("background_img.png");
}

#background{
    background: #ECFDF5;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 6.25%);
    width: 40vw;
    height: 80vh;
    border-radius: 10px;
}
h2{
    color: #1C1C1C;
    font-size: 2.8vw;
    position: absolute;
    left: 5%;
    top: 5%;
}

h2 span{
    color: #10B981;
}


#label-tickets{
    font-size: 1.8vw;
    color: #1C1C1C;
    position: absolute;
    left: 17%;
    top: 30%;
    font-weight: bold;
}

#label-points{
    font-size: 1.8vw;
    color: #1C1C1C;
    position: absolute;
    right: 17%;
    top: 30%;
    font-weight: bold;
}

.input #tickets{
    position: absolute;
    top: 36%;
    left: 8%;
    width: 12vw;
    height: 6vh;
    background-color: #10B981;
    text-align: center;
    font-size: 1vw;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.input #points{
    position: absolute;
    top: 36%;
    right: 8%;
    width: 12vw;
    height: 6vh;
    background-color: #10B981;
    text-align: center;
    font-size: 1vw;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

::placeholder{
    color: #1C1C1C;
    font-size: 2vw;
}

#submit{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -25%);
    width: 15vw;
    height: 6vh;
    background-color: #273549;
    border-radius: 6px;
    color: #5DEF92;
    text-align: center;
    font-size: 1.2vw;
    margin: 0;
    padding: 10px 5px;
    cursor: pointer;
}

hr{
    width: 30vw;
    background: #D5D4D8;
    position: relative;
    top: 50vh;
}


#win-rate p{
    width: 35vw;
    height: 8vh;
    background-color: #273549;
    border-radius: 6px;
    color: #5DEF92;
    text-align: center;
    font-size: 3vw;
    margin: 0;
    padding: 10px 5px;
    cursor: pointer;
    position: absolute;
    top: 55vh;
    left: 2.5vw;
}


#reset-btn{
    background-color: #273549;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    border-bottom-right-radius: 10px;
    cursor: pointer;
    width: 8vw;
    height: 4vh;
    color: #10B981;
    font-weight: bold;
    font-size: 1vw;
}

@media only screen and (max-width: 600px){
    #background{
        width: 80vw;
        background-color: #ECFDF5;
        height: 80vh;
    }

    h2{
        position: absolute;
        top: 5%;
        left: 5%;
        color: #1C1C1C;
        font-size: 6.5vw;
    }

    #label-tickets{
        font-size: 5vw;
        color: #1C1C1C;
        position: absolute;
        left: 17%;
        top: 30%;
        font-weight: bold;
    }

    #label-points{
        font-size: 5vw;
        color: #1C1C1C;
        position: absolute;
        right: 17%;
        top: 30%;
        font-weight: bold;
    }

    .input #tickets{
        position: absolute;
        top: 36%;
        left: 7%;
        width: 25vw;
        height: 8vh;
        background-color: #10B981;
        text-align: center;
        font-size: 1.5vw;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    #tickets{
        font-size: 8vw;
    }
    #points p{
        font-size: 8vw;
    }

    .input #points{
        position: absolute;
        top: 36%;
        right: 7%;
        width: 25vw;
        height: 8vh;
        background-color: #10B981;
        text-align: center;
        font-size: 1.5vw;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
    hr{
        position: relative;
        top: 47.5vh;
        left: 0;
        width: 60vw;
        background: #D5D4D8;
    }

    #submit{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -25%);
        width: 18vw;
        height: 7vh;
        background-color: #273549;
        border-radius: 6px;
        color: #5DEF92;
        text-align: center;
        font-size: 2vw;
        margin: 0;
        padding: 5px 2.5px;
        cursor: pointer;
    }

    #win-rate p{
        top: 52.5vh;
        left: 10vw;
        width: 60vw;
        height: 10vh;
        background-color: #273549;
        border-radius: 6px;
        color: #5DEF92;
        text-align: center;
        font-size: 3.5vw;
        margin: 0;
        padding: 10px 5px;
        cursor: pointer;
        position: absolute;
    }

    #reset-btn{
        background-color: #273549;
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
        border-bottom-right-radius: 10px;
        cursor: pointer;
        width: 18vw;
        height: 6vh;
        color: #5DEF92;
        font-weight: bold;
        font-size: 1.5vw;
    }
    ::placeholder{
        font-size: 4vw;
    }
}